<div class="content-box">
    <div class="small-content">
        <!-- 第一部分 -->
        <div class="small-boxa">
            <a class="btn btn-danger btn-rounded btn-gradient btn-gradienta" ng-click="returnCouponBatchPage()"><i
                    class="fa fa-plus-square-o"></i> <span>返回</span></a>
        </div>
        <!-- 第二部分 -->
        <div class="small-boxb col-md-12">
            <form id="conditionForm">
                <input name="batchNumber" ng-model="search.batchNumber" ng-hide="true" />
                <div class="boxb-a">
                    <p style="margin-top:20px;">用户ID：
                        <input type="text" name="memberId" ng-model="search.memberId" maxlength="15" onkeyup="value=value.replace(/[^\d]/g,'') " ng-pattern="/[^a-zA-Z]/">
                    </p>
                    <p>发放状态：
                        <select class="chosen-select" name="status" ng-model="search.status" style="width:120px;">
                            <option value="">全部</option>
                            <option value="2">待发放</option>
                            <option value="0">发放成功</option>
                            <option value="1">发放失败</option>
                        </select>
                    </p>
                </div>
                <div class="boxb-b">
                    <p>卡券ID：
                        <input type="text" name="couponId" ng-model="search.couponId" maxlength="20" onkeyup="value=value.replace(/[^\d]/g,'') " ng-pattern="/[^a-zA-Z]/">
                    </p>
                    <p>明细描述：
                        <input type="text" name="issueDesc" ng-model="search.issueDesc" maxlength="30" placeholder="10个汉字以内">
                    </p>
                </div>

                <div class="boxb-b">
                    <p>
                        <button style="outline:none;" class="btn btn-success btn-rounded btn-blueW btn-blueWa" href="#"
                                ng-click="querySendCouponList(1)"><i class="fa fa-search"></i> <span>搜索</span></button>
                        <button style="outline:none;" class="btn btn-success btn-rounded btn-blueW btn-blueWb" href="#"
                                ng-click="reset()"><i class="fa fa-refresh"></i> <span>重置</span></button>
                        <button style="outline:none;" class="btn btn-success btn-rounded btn-blueW btn-blueWa" href="#"
                                ng-click="importList()"><i class="fa fa-search"></i> <span>导出</span></button>
                    </p>
                </div>
            </form>
        </div>
        <!-- 第三部分 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins" style="margin-top:10px;">
                    <div class="ibox-content">
                        <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
                            <thead>
                            <tr>
                                <!-- <th></th> -->
                                <th>序号</th>
                                <th>用户ID</th>
                                <th>卡券ID</th>
                                <!--<th>卡券类型</th>-->
                                <th>卡券面值</th>
                                <th>描述</th>
                                <th>发放人</th>
                                <th>发放时间</th>
                                <th>批次号</th>
                                <th>发放状态</th>
                                <th>状态描述</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in sendCouponList">
                                <td>{{$index+1}}</td>
                                <td>{{x.memberId}}</td>
                                <td>{{x.couponId}}</td>
                                <!--<td>{{x.couponType}}</td>-->
                                <td>{{x.value==0&&"无" ||x.value}}</td>
                                <td>{{x.issueDesc}}</td>
                                <td>{{x.operationName}}</td>
                                <td>{{x.issueDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td>{{x.batchNumber}}</td>
                                <td>{{x.status==0 && '发放成功' || x.status==1 && '发放失败' || x.status==2 && '待发放' }}</td>
                                 <td>{{x.resultMsg}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="bottom-page">
                            <div class="bottom-pagea">
                                <select style="width:58px;height:23px;" ng-model="search.pageSize"
                                        ng-change="querySendCouponList(1)">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                </select>
                            </div>
                            <div class="bottom-pageb">
                                <i class="fa fa-step-backward" ng-click="querySendCouponList(1)"></i>
                                <i style="font-size:16px;" class="fa fa-caret-left" ng-click="querySendCouponList(search.pageNo-1)"></i>
                                <p>第<span class="pageN">{{search.pageNo}}</span class="commonN">共<span>{{search.pageCount}}</span>页
                                </p>
                                <i style="font-size:16px;" class="fa fa-caret-right" ng-click="querySendCouponList(search.pageNo+1)"></i>
                                <i style="margin-left:8px;" class="fa fa-step-forward" ng-click="querySendCouponList(search.pageCount)"></i>
                                <i class="fa fa-refresh" ng-click="querySendCouponList(1)"></i>
                            </div>

                            <div class="bottom-pagec">
                                <p>显示<span>{{(search.pageNo-1)*search.pageSize+1}}</span>到{{search.pageNo*search.pageSize}}条，共<span>{{search.totalRowSize}}</span>条记录
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>