input{
  margin: 0;
  height: 13px;
}
.look-pagea{
  width: 80%;
  background: #fff;
  height: 84px;
  margin-left: 215px;
  margin-top: 20px;
  border: 1px solid #e0e2e4;
}
.look-pagea button{
  width: 118px;
  height: 36px;
  border: 1px solid #ff5663;
  background: #fff;
  border-radius: 50px;
  color: #fb5251;
  font-size: 14px;
  margin-top: 22px;
  margin-left: 40px;
}
.look-pagea .JianBian{
  background: -webkit-linear-gradient(left, #ff866b , #fd6873); 
  background: -o-linear-gradient(right, #ff866b, #fd6873); 
  background: -moz-linear-gradient(right, #ff866b, #fd6873);
  background: linear-gradient(to right, #ff866b , #fd6873);
  color: #fff;
}
.look-pagea button span{
  margin-left: 11px;
}
.look-pagea button a{
  margin-left: 11px;
  color: #fb5251;
}
/* 第二部分 */
.look-pageb{
  width: 80%;
  background: #fff;
  margin-left: 215px;
  margin-top: 8px;
  border: 1px solid #e0e2e4;
  position: relative;
}

.iconIpt{
  width: 80px;
  height: 30px;
  margin-right: 5px;
}
.inputSpan input {
  margin-left: 10px;
}

.inputSpan span {
  display: inline-block;
  width: 70px;
}

.inputtextarea {
  position: relative;
}

.inputtextarea textarea {
  margin-left: 10px;
  resize:none;
}

.inputtextarea span {
  position: relative;
  bottom: 65px;
  display: inline-block;
  width: 70px;
  margin-top: -20px;
}

.whiteList {
  margin-left: 25px;
}

.upload {
  margin-left: 150px;
}