li{
    list-style: none;
}
.bacl_zl{
    width: 80%;
    height: 56px;
    float: left;
    background: #fff;
    margin-left: 215px;
    position: relative;
    padding-left: 20px;
    margin-top: 71px;
}
.bacl_zl span{
    width: 100px;
    height: 34px;
    float: left;
    margin: 11px 0;
    text-align: center;
    line-height: 30px;
    color: #169bd5;
    border: 1px solid #169bd5;
    border-radius: 16px;
}
.bacl_zl span:hover{
    color: #fff;
    background: #169bd5;
}
.continue-box{
    width: 80%;
    height: 1200px;
    float: left;
    background: #fff;
    margin-left: 215px;
    border: 1px solid #e0e2e4;
    position: relative;
    padding-left: 34px;
    margin-top: 12px;
}
.continue-header {
    width: 100%;
    margin-top: 30px;
}
.continue-header li{
    margin-top: 15px;
}
.continue-header li select{
    width: 150px;
    height: 20px;
    border: none;
    border: 1px solid #ccc;
}
.continue-conter{
    margin: 40px 0;
    width: 100%;
    position: relative;
}

.continue-conte{
    width: 100%;
    float: left;
}.continue-conte > span{
    float: left;
}
.continue-conte span:nth-child(2){
	width: 230px;
    margin-left: 40px;
}
.continue-conte span:nth-child(3){
	width: 230px;
    margin-left: 50px;
}

.continue-conte span:nth-child(4){
    margin-left: 190px;
}

.continue-conte span:nth-child(5){
    margin-left: 40px;
    width: 90px;
    height: 26px;
    border: none;
    background: skyblue;
    text-align: center;
    line-height: 26px;
    color: #fff;
    border-radius:5px; 
}
/* 中间多选盒子 */
.continue-conters {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.conters-box{
    width: 260px;
    height: 230px;
    float: left;
    position: relative;
    margin-left: 96px;
    border: 1px solid #0001;
}
.conters-box input{
    float: left;
    width: 100%;
    height: 36px;
    border: none;
    border: 1px solid #ccc;
}
#btn{
    width: 36px;
    height: 34px;
    background: url(../../../image/fang.png) center;
    position: absolute;
    right: 1px;
    top: 1px;
}
.conters-box ul{
    position: absolute;
    width: 100%;
    height: 147px;
    top: 35px;
    overflow: hidden;
    overflow: auto;
}
.conters-box ul li{
    line-height: 30px;
    padding-left:0px;
}
.conters-box ul li:hover{
    background: #ccc;
    border-bottom: 1px solid #eeeeee; 
    box-sizing: border-box;
}
.on{
    color: #fff;
    background: #ccc;
    border-bottom: 1px solid #eeeeee; 
    box-sizing: border-box;
}
.shuai{
    position: absolute;
    top: 188px;
    width: 100%;
}

.continue-conters div:nth-child(2){
    float: left;
    width: 50px;
    height: 230px;
    text-align: center;
    padding: 10px;

}

.y{
    margin-top: 40px;
    width: 35px;
    height: 37px;
    background: url(../../../image/you.png);

}
.z{
    margin-top: 50px;
    width: 35px;
    height: 37px;
    background: url(../../../image/zuo.png);
}
.lisul{
    width: 100%;
    height: 230px;
    overflow: hidden;
    overflow: auto;
}
.lisul li {
    line-height: 30px;
    padding-left:0px;
}
.lisul li:hover{
    color: #676a6c;
    background: #ccc;
    border-bottom: 1px solid #eeeeee; 
    box-sizing: border-box;
    
}
.continue-conters div:nth-child(3){
    width: 230px;
    height: 230px;
    float: left;
    border: 1px solid #0001;
    overflow: hidden;
}
.arrow-e{
    float: left;
    width: 50px;
    height: 230px;
    text-align: center;
    padding: 6px;
}
   
.arrow-ss{
   width: 36px;
   height: 36px;
   margin-top: 45px;
   background: url(../../../image/shang.png);
   background-size: 100%;
}

.arrow-bb{
    width: 36px;
    height: 36px;
    margin-top: 46px;
    background: url(../../../image/xia.png);
    background-size: 100%;
 }

 /* .conter-xia{
     width: 100%;
     height: 260px;
     float: left;
     margin: 30px 0px;
     overflow: hidden;
    overflow-y: scroll;
 } */
 .conter-xia ul{
    width: 718px;
    height: 32px; 
    border: 1px solid  #ccc;
 }
 .conter-xia ul li{
     float: left;
     line-height: 32px;
     width: 119px;
     text-align: center;
     border-left:1px solid #ccc; 
 }
 .conter-xia ul li:first-child{
     border: none;
 }
 .conter-xia{
     position: relative;
    width: 718px;
    height: 150px; 
    overflow: hidden;
    float: left;
     margin: 30px 0px;
     
 }

.conter_div{
    width: 100%;
    height: 110px;
    overflow: hidden;
    overflow-y: scroll;
}
.conter_div::-webkit-scrollbar{
    display: none;
}
 .conter-xia ol li{
     float: left;
     line-height: 32px;
     width: 119px;
     height: 32px;
     border-bottom: 1px solid #ccc;
     text-align: center;
 }
 .liBlue{
     color: #169bd5;
     cursor: pointer;
 }
 .liBlue span:hover{
     border-bottom: 1px solid #169bd5;
 }
 .continue-below{
     width: 100%;
     float: left;
 }
 .continue-below ul li{
    margin-top: 20px;
    width: 500px;
 }
 .continue-below ul li {
     width: 100%;
     float: left;
 }
 .continue-below ul li span{
     width: 80px;
     height: 30px;
     float: left;
 }
 .continue-below ul li input{
    width: 200px;
    height: 24px;
 }
 .continue-below ul li input:first-child{
    width: 200px;
 }
 .continue-below ul li:nth-child(2){
    width:270px;
    position: relative;
 }
 /* .continue-below ul li:nth-child(2) input{
     float: right;
     position: absolute;
     width:80px;
     height: 30px;
     color: #fff;
     border: none;
     border-radius: 4px;
     opacity: 0;
     background: skyblue;
     z-index: 11;
     margin-left: 191px;
 } */
 .continue-below ul li:nth-child(2) button{
    float: right;
    position: absolute;
    width: 100px;
    height: 30px;
    color: #fff;
    border: none;
    border-radius: 4px;
    /* opacity: 0; */
    margin-left: 100px;
    background: skyblue;
}

 .continue-below ul li:nth-child(3) select{
    width: 200px;
    height: 26px;
 }
 .submit{
     width: 100px;
     height: 30px;
     color: #fff;
     border: none;
     background: #fc868a;
     border: 1px solid #fff;
     border-radius:4px;
     margin: 30px 100px ;
 }

 /* 弹出框 */

.popups {
	position: fixed;
	top: 60px;
	left: 195px;
	right: 0;
	bottom: 0;
	display: none;
	z-index: 999999;
}
.back_zl{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #666666;
    opacity: 0.8;
    z-index: 100;
}
.Peer-to-peer{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    margin:20px auto;
    width: 340px;
    height: 460px;
    background: #fff;
    border:1px solid #000;
    padding: 0 10px;
    z-index: 200;
    display: none;
}
.configuration{
    width: 100%;
    height: 40px;
    line-height: 44px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}   
.lending{
    margin:20px 10px; 
    width: 100%;
}
.lending span{
    width: 85px;
    float: left;
}
.lending input{
    height: 25px;
}

.lending li{
    margin-top: 20px;
    width: 100%;
    float: left;
}
.lending li:nth-child(1) input{
    width: 200px;
    border: 1px solid #cccccc;
}
.lending li:nth-child(2){
    position: relative;

}
.lending li:nth-child(2) input{
    width: 120px;
    float: left;
   border: 1px solid #cccccc;
    
}
#ncftpput{
    width: 86px;
    height:19px;
    margin-left: 215px;
    border: none;
    color: #fff;
    border-radius: 4px;
    background: #169bd5;
    opacity: 0;
    position: absolute;
    z-index: 10;
}
.lending li:nth-child(2) button{
    position: absolute;
    width: 88px;
    height:24px;
    margin-left: 10px;
    border: none;
    color: #fff;
    border-radius: 4px;
    background: #169bd5;
}
.Countdown{
    width: 100%;
    float: left;
    margin: 22px 10px;;
}
    
.Countdown span{
    float: left;
}
.Countdown input{
    float: left;
    margin-top: -8px;
}
.Countdown span:nth-child(2){
    margin-left: 40px;
}
.Countdown span:nth-child(3){
    margin-left: 80px;
}
.closeDetailClass{
    width: 100%;
    text-align: center;
    padding-left: 69px;
}
.closeDetailClass span{
    float:left;
    width: 140px;
    height: 40px;
    margin-left:50px;
    color: #fc868a;
    line-height: 40px;
    border-radius: 4px;
    text-align: center;
    margin-left: 10px;
    border: 1px solid #fc868a;
}
.closeDetailClass span:last-child{
    margin-left: 17px;
}
.closeDetailClass span:hover{
    color: #fff;
    background: #fc868a;
}

/* 基金配置 */
.fund{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    margin:20px auto;
    width: 306px;
    height: 566px;
    background: #fff;
    padding: 0 15px;
    z-index: 200;
    display: none;
}
.nav_jijin{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom:1px solid #cccc;
}
.fund ul{
    margin: 10px 10px;
}
.fund ul li{
    margin: 6px 0;
    width: 100%;
    float: left;
}
.fund ul li span{
    width: 90px;
    float: left;
}
.fund ul li input{
    height: 22px;
    border: none;
    border: 1px solid #cccc;
}
.fund ul li p{
    display: inline-block;
}
.Gray{
    color: #999999;
}
.site input{
    margin-top: -1px;
    float: left;
}
.site input:last-child{
    margin-left: 12px;
}
.fund ul li:last-child button{
    width: 110px;
    height: 34px;
    color: #fc868a;
    border: none;
    border: 1px solid #fc868a;
    background: #ffff;
    border-radius:4px; 
    margin-top: 14px;
    margin-left: 15px;
}
.fund ul li:last-child button:hover{
    background: #fc868a;
    color: #fff;
}

/* 保险 */

.Insurance{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    margin:20px auto;
    width: 347px;
    height: 436px;
    background: #fff;
    padding: 0 15px;
    z-index: 200;
    display: none;
}
.baoxian{
    width: 100%;
    float: left;
    margin-top: 10px;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.Insurance ul{
    margin: 6px 10px;
    float: left;
    width: 100%;
}
.Insurance ul li{
    float: left;
    width: 100%;
    margin-top: 17px;
}
.Insurance ul li p{
    display: inline-block;
}
.Insurance ul li span{
    width: 90px;
    float: left;
}
.Insurance ul li input{
    float: left;
    height: 20px;
    border: none;
    border: 1px solid #a9a9a9;
}
.Insurance ul li:nth-child(1) input{
    width: 196px;
}
.Insurance ul li:nth-child(2){
    position: relative;
}
.Insurance ul li:nth-child(2) input{
    width: 118px;
}
#common{
    position: absolute;
    width: 78px;
    height: 17px;
    border: none;
    background: #169bd5;
    color: #fff;
    margin-left: 217px;
    border-radius: 4px;
    opacity: 0;
    z-index: 10;
}
.Insurance ul li:nth-child(2) button{
    position: absolute;
    width: 84px;
    height: 20px;
    border: none;
    background: #169bd5;
    color: #fff;
    margin-left: 8px;
    border-radius: 4px;
}
.Insurance ul li:last-child button {
width: 140px;
height: 32px;
border: 1px solid #fc868a;
color: #fc868a;
border-radius: 4px;
background: #fff;
margin: 15px 4px;
}

.Insurance ul li:last-child button:hover {
color: #fff;
background: #fc868a;
}

.guan_jijin{
	width:100%;
	text-align:center;
}
.guan_jijin button{
    width: 140px;
    height: 32px;
    border: 1px solid #fc868a;
    color: #fc868a;
    border-radius:4px; 
    background: #fff;
}
.guan_jijin button:hover{
    color: #fff;
    background: #fc868a;
}

.isshow{
    display: none;
    position: relative;
}
.isshow ol{
    display: none;
    position: absolute;
    width: 200px;
    height: 190px;
    margin-left: 80px;
    float: left;
    background: #fff;
    border: 1px solid #eeeeee;
    border-top: 0;
    overflow: hidden;
}

.isshow ol li{
    padding-left: 10px;
    width: 200px;
    float: left;
    margin-top: 5px;
    line-height: 30px;
}
.isshow ol li:first-child{
    margin-top: 0;
}
.isshow ol li:hover{
    width: 100%;
    color: #fff;
    background: #a9a9a9;
}
.isshow button{
    position: absolute;
    width: 32px;
    height: 22px;
    border: 0;
    margin-left: -34px;
    margin-top: 1px;
    background: url(../../../image/lens.png);
    background-size:100% 100%; 
}
#conters-ul{
    position: relative;
    top: 0;
    z-index: 2;
    float: left;
    width: 100%;
    height: 192px;
    overflow-y:scroll;
}
#conters-ul::-webkit-scrollbar {
    display:none
}

#conters-ul li:hover{
}
#ul{
    background: #fff;
    position: absolute;
    z-index: 20;
    top: 36px;
    width: 100%;
    height: 192px;
    display: none;
}

#select_zl{
    position: absolute;
    left: 190px;
    width: 110px;
    height: 20px;
    margin-left: 24px;
    display: none;
}

/*.netload-product {
	display: block;
	position: absolute;
    top:50%;
    left: 50%;
    bottom: auto;
    right: auto;
    transform: translate(-50%, -50%);
    width: 340px;
    height: auto;
    background: #fff;
    border:1px solid #000;
    padding: 10px 10px 35px;
}*/
.netload-product{
    display: block;
    position: fixed;
    width: 450px;
    background: #fff;
    margin-top: 75px;
    left: 50%;
    margin-left: -290px;
    height: 550px;
    overflow-y: scroll;
}

.hadnleBtn {
	float: none;
	width: 110px;
	height: 30px;
	background: rgba(22, 155, 213, 1);
	border-radius: 8px;
	color: #fff;
	border: none;
	margin: 0 0 0 20px;
}
.select-add-kind {
	width: 90px;
	margin: 0 0 0 40px;
}
.float-none {
	float: none;
}
.clearfix:after{visibility:hidden;display:block;font-size:0;content: " ";clear:both;height:0;}
.clearfix{*zoom:1;}

.pictures_zl{
	float: right;
	margin-top: -5px;
	/* margin-left: 40px; */
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 30px;
}
.pictures_zl span{
	float: left;
	width: 0;
	height: 0;
	margin-top: -2px;
	margin-left: -14px;
}

.reticuleBtn{
	float: right;
	margin-right: 30px;
	width: 70px;
	height: 26px;
}
.reticuleBtn span{
	display: flex;
	margin-top: -4px;
	margin-left: 8px;
}

.closeDetailClass{
	    text-align: center;
}

.box_zl{
	width:220px;
	height:auto;
	margin-left:87px;
	/* background:red; */
	min-height:40px;
	word-break: break-all;
}
.confirm {
width: 100%;
}

.confirm li {
float: left;
width: 140px;
height: 40px;
color: #fc868a;
line-height: 40px;
border-radius: 4px;
text-align: center;
margin-left: 10px;
border: 1px solid #fc868a;
}

.confirm li:last-child {
margin-left: 17px;
}

.confirm li:hover {
color: #fff;
background: #fc868a;
}

.over_zl{
	width:100%;
	height: 201px;
	overflow-y:scroll;
	overflow: hidden;
	overflow: hidden scroll; 
}


