ol,
ul {
    list-style: none;
}

.back-btn {
    width: 74px;
    height: 47px;
    border-radius: 3px;
    margin: 19px 0 8px 5px;
    color: #9aadee;
    background: none;
    border: solid 1px #9aadee;
}

.message-box {
    width: 1647px;
    padding-bottom: 38px;
    background: #fff;
    margin-top: 15px;
}

.message-box .test-title {
    width: 100%;
    height: 60px;
    font-size: 16px;
    font-weight: 800;
    color: #343434;
    line-height: 60px;
    text-align: center;
}

.message-box .test-title p {
    margin: 0 40px;
    border-bottom: solid 1px #E8EAEC;
}

.flex-layout {
    width: 100%;
    display: flex;
}

.flex-layout .message-left,
.flex-layout .message-right {
    width: 50%;
}

.flex-layout .message-left li,
.flex-layout .message-right li {
    padding-top: 40px;
    padding-left: 60px;
    font-weight: 600;
    font-size: 16px;
}

.begin-btn {
    display: block;
    width: 160px;
    height: 46px;
    color: #fff;
    border: none;
    background: rgba(138, 160, 231, 1);
    border-radius: 6px;
    margin: 40px auto;
    outline: none;
}

.category {
    padding-top: 39px;
    padding-left: 60px;
    font-size: 16px;
    font-weight: 600;
}

.float-right {
    float: right;
    transform: translateX(-250%)
}

.flow-box .flow-bar {
    padding-left: 60px;
}

.flow-box .flow-bar li {
    display: flex;
    align-items: center;
    padding-top: 41px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
}

.flow-box .flow-bar li span:nth-child(1) {
    width: 80px;
    display: inline-block;
}

.flow-box .flow-bar li span:nth-child(2) {
    width: 22.4px;
    display: inline-block;
}

.progress-bar {
    width: 600px;
    height: 4px;
    margin-left: 24px;
    background: #EEEEEE;
    display: flex;
    align-items: center;
    position: relative;
}

.point {
    width: 600px;
    background: none;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
}

.interval {
    width: 4px;
    height: 4px;
    background: rgba(179, 179, 179, 1);
}

.slider-block {
    display: block;
    width: 24px;
    cursor: pointer;
    z-index: 22;
    position: absolute;
    /* top: 0; */
    left: 0;
}

.percent {
    width: 0;
    background-color: #8AA0E7;
    height: 100%;
    z-index: 20;
}

#text {
    width: 200px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 2em;
}

.data-table {
    width: 1525px;
    height: 151px;
    margin-left: 60px;
    margin-top: 40px;
    border: 1px solid rgba(243, 243, 244, 1);
    border-collapse: collapse;
}

.data-table thead {
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    background: #f4f5f6;
}

.data-table td {
    padding-left: 29px;
    line-height: 50px;
    font-weight: 600;
    border-right: solid 1px #EAECEE;
}

.data-table td a {
    color: #859BEC;
    text-decoration: none;
    font-weight: normal;
}

.data-table tr:nth-child(2) {
    border-top: solid 1px #EAECEE;
}
.popup-layer {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: .24rem;
    background-color: #f4f5f6;
    display: none;
    z-index:9999;
}
.popup-layer .title {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 35px;
    border-bottom: solid 1px #EAECEE;
}
.popup-layer .issue-title {
    font-size: 16px;
    padding-left: 30px;
    padding-top: 20px;
    line-height: 20px;
}
.form-layer {
    margin: 20px 30px 0;
}
.form-layer li {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 350px;
}
.form-layer li span {
    display: block;
    /*width: 90px;*/
    text-align: right;
}
.form-layer li input, .form-layer li select{
    flex: 1;
    height: 30px;
    border-radius: 5px;
    margin-left: 10px;
    border: solid 1px #EAECEE;
    outline: none;
    background: none;
}
.button-flex {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.button-flex button {
    width: 120px;
    height: 35px;
    border-radius: 3px;
    color: #9aadee;
    background: none;
    border: solid 1px #9aadee;
}
.button-flex .sure-btn {
    background: #9aadee;
    color: #fff;
}