<div class="content-box">
    <div class="small-content">
        <!-- 第一部分 -->
        <div class="small-boxb col-md-12">
            <a class="ivr-button btn btn-danger btn-rounded btn-gradient btn-gradienta">
                <i class="fa fa-plus-square-o"></i>
                <span>返回</span>
            </a>
        </div>
        <!-- 第一部分完 -->

        <!--第二部分-->
        <div class="small-boxb col-md-12">
            <div class="boxb-a">
                <p style="margin-top:20px;">月份：
                    <select class="chosen-select" style="width:255px;" tabindex="2">
                        <option value="">全部</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </p>
            </div>

            <div class="boxb-a">
                <p >日期：
                    <input type="text" ng-model="queryUserDetail.userId" maxlength="25" style="width: 160px" placeholder="1-31">
                </p>
            </div>

            <div class="boxb-c">
                <p>
                    <a class="btn btn-success btn-rounded btn-blueW btn-blueWa"><i class="fa fa-search"></i> <span>搜索</span></a>
                </p>
            </div>
        </div>
        <!--第二部分完-->

        <!-- 第三部分 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins" style="margin-top:10px;">
                    <div class="ibox-content">
                        <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>年度</th>
                                <th>月份</th>
                                <th>日期</th>
                                <th>宜</th>
                                <th>忌</th>
                                <th>名言</th>
                                <th>出处</th>
                                <th>图片</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>序号</td>
                                <td>年度</td>
                                <td>月份</td>
                                <td>日期</td>
                                <td>宜</td>
                                <td>忌</td>
                                <td>名言</td>
                                <td>出处</td>
                                <td>图片</td>
                                <td>
                                    <span class="modify-start">查看</span>
                                    <span class="modify-start">修改</span>
                                    <span class="look-start">审核</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="bottom-page">
                            <div class="bottom-pageb">
                                <i class="fa fa-step-backward" ng-click="pageQueryCallTask(1)"></i>
                                <i style="font-size:16px;" class="fa fa-caret-left" ng-click="pageQueryCallTask(search.pageNo-1)"></i>
                                <p>第<span class="pageN">{{search.pageNo}}</span class="commonN">共<span>{{search.pageCount}}</span>页</p>
                                <i style="font-size:16px;" class="fa fa-caret-right" ng-click="pageQueryCallTask(search.pageNo+1)"></i>
                                <i style="margin-left:8px;" class="fa fa-step-forward" ng-click="pageQueryCallTask(search.pageCount)"></i>
                                <i class="fa fa-refresh" ng-click="pageQueryCallTask(search.pageNo)"></i>
                            </div>

                            <div class="bottom-pagec">
                                <p>显示<span>{{(search.pageNo-1)*search.perPageRowSize+1}}</span>到{{search.pageNo*search.perPageRowSize}}条，共<span>{{search.totalRowSize}}</span>记录
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- 第三部分完 -->
    </div>
</div>